/* Styles for the header */

.logo{

    height: 100px;
    width: 250px;
    padding-top:20px;
    
}

header{

    height:110px;
    background-color:rgb(0, 221, 255);
    background-size:30%;
    background-image:url(img/pattern.png)
    
}

/* Styles for the main content */ 




