/* Styles for the header */

.logo{

    height: 100px;
    width: 250px;
    padding-top:20px;
    
}

header{

    height:110px;
    background-color:rgb(0, 221, 255);
    background-size:30%;
    background-image:url(img/pattern.png)
    
}

/* Styles for the main content */ 

h1{
    margin-bottom: 0cm;
    font-size: 45px;;
}



.grey-typo{

    color:rgb(141, 140, 140);

}

.small-typo{
    font-size: smaller;
}

#thebooleaner {
    color: cyan;
}


table{

    border-collapse: collapse;
    text-align: left;
}

thead{

    background-color:mediumslateblue
    
} 

th{
    color:aliceblue;
   
    min-width: 300px;
}

.background-cyan{

    background-color: cyan;

}


#article-1{

    color:aliceblue;
    font-weight:bold;
    height: 150px;
    width: 220px;
    background-size:cover;
    background-image: url(img/graph.jpg);

}


#article-2{

    color:aliceblue;
    font-weight:bold;
    height: 150px;
    width: 220px;
    background-size:cover;
    background-image:url(img/monitor.jpg);
    
}








