/* Styles for the header */

.logo{

    height: 100px;
    width: 250px;
    padding-top:20px;
    
}

header{

    height:110px;
    background-color:rgb(0, 221, 255);
    background-size:30%;
    background-image:url(img/pattern.png)
    
}

/* Styles for the main content */ 

h1{
    margin-bottom: 0cm;
    font-size: 50px;;
}

.subtitle{

    color:rgb(141, 140, 140);
}

.data{
    font-size: small;
}

#thebooleaner {
    color: cyan;
}


